body {
  font-family: FreeMono, monospace;
}
#banner {
  background-color: black;
  color: white;
  font-size: 20px;
}
#title {
  font-size: 40px;
}
#content {
  margin-top: 30px;
}
.what {
  border: 1px solid black;
}
